body {
    background-color: #FFFFFF;
    color: #757575;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

}

.list {
    list-style: none;
}
/* колір основного тексту #757575*/
/* вторинний колір #212121*/
/* вторинний колір фону #F5F4FA*/

/* Логотип */
.logo {
    color: #000000;
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.19;
}

.accent {color: #2196F3;}

.site-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

/* Контакти */
.contacts a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contacts a:hover,
.contacts a:focus {
    color: #2196F3;
}